---
import {getCollection, CollectionEntry} from 'astro:content';
import Frame from "@layouts/Frame.astro";
import TechBadge from "@components/TechBadge.astro";

export async function getStaticPaths() {
    const entries = await getCollection("project");
    return entries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<"project">;
}

const {entry} = Astro.props as Props;
const {Content} = await entry.render();
---
<Frame>
    <h1>{entry.data.name}</h1>
    <p>{entry.data.summary}</h1>
    <div class="flex row border-box gap-1.5">
        {entry.data.techs.map(tech => (<TechBadge tech={tech.id} />))}
    </div>
    <Content />
</Frame>
