---
import {getCollection} from 'astro:content';
import WithHeading from "@layouts/WithHeading.astro";

const entries = await getCollection("job");
entries.sort((a, b) => a.data.startDate > b.data.startDate ? -1 : 1);
const entryContents = await Promise.all(entries.map(entry => entry.render()));
---
<WithHeading heading="Work Experience">
    {entries.map((entry, index) => {
        const Content = entryContents[index].Content;
        const startString = new Date(entry.data.startDate).toISOString().substring(0, 10);
        const endString = !!entry.data.endDate ? new Date(entry.data.endDate).toISOString().substring(0, 10) : "Today";
        const location = entry.data.location;
        return (
            <h2 class="mb-0">{entry.data.jobDescription} @ {entry.data.company}</h2>
            <p class="mt-0 font-bold text-sm">From {startString} until {endString} in {location}</p>
            <Content />
        );
    })}
</WithHeading>
