---
import {getCollection} from "astro:content";
import FrameWithHeading from "@layouts/FrameWithHeading.astro";
import TechBadgeList from "@components/TechBadgeList.astro";
import ProjectStatus from "@components/ProjectStatus.astro";

const projects = await getCollection("project");
const sortedProjects = projects.sort((a, b) => b.data.year - a.data.year);
---
<FrameWithHeading heading="Projects">
    <div class="flex flex-col gap-12 mt-12">
        {sortedProjects.map((project) => {
            const href = "/project/" + project.slug;
            return (
                <div class="flex flex-col gap-2 items-start">
                    <a href={href}><h2 class="m-0">{project.data.name}</h2></a>
                    <a href={href}><p class="m-0">{project.data.summary}</p></a>
                    <TechBadgeList techs={project.data.techs.map(tech => tech.id)} />
                </div>
            );
        })}
    </div>
</FrameWithHeading>
