---
import {getCollection} from "astro:content";
import Standard from "@layouts/Standard.astro";
import ProjectMeta from "@components/ProjectMeta.astro";

const projects = await getCollection("project");
const sortedProjects = projects.sort((a, b) => b.data.year - a.data.year);
---

<Standard heading="Projects">
    <div class="flex flex-col gap-12 mt-12">
        {
            sortedProjects.map((project) => {
                const {id, slug} = project;
                const {name, headline} = project.data;
                return (
                    <div id={id} class="flex flex-col bg-slate-100 rounded-xl items-stretch overflow-hidden shadow-sm">
                        <div class="p-10 bg-yellow-400 bg-gradient-to-r from-cyan-950 to-stone-800">
                            <h2 class="m-0">
                                <a class="text-white font-sans" href={"/project/" + slug}>
                                    {name}
                                </a>
                            </h2>
                            <p class="m-0 text-white font-sans">{headline}</p>
                        </div>
                        <ProjectMeta class="p-10" project={project} />
                    </div>
                );
            })
        }
    </div>
</Standard>
