---
import {getCollection} from "astro:content";
import Standard from "@layouts/Standard.astro";

const entries = await getCollection("job");
const entriesWithContent = await Promise.all(
    entries.map(async (entry) => {
        const Content = await entry.render();
        return {
            ...entry,
            rendered: Content,
        };
    }),
);
entriesWithContent.sort((a, b) => (a.data.startDate > b.data.startDate ? -1 : 1));
---

<Standard heading="Work Experience">
    {
        entriesWithContent.map((entry) => {
            const Content = entry.rendered.Content;
            const startString = new Date(entry.data.startDate).toISOString().substring(0, 10);
            const endString = !!entry.data.endDate ? new Date(entry.data.endDate).toISOString().substring(0, 10) : "Today";
            const location = entry.data.location;
            return (
                <>
                    <h2 class="mb-0">
                        {entry.data.jobDescription} @ {entry.data.company}
                    </h2>
                    <p class="mt-0 font-bold text-sm font-sans">
                        From {startString} until {endString} in {location}
                    </p>
                    <Content />
                </>
            );
        })
    }
</Standard>
