---
import mainLinks from "../config/mainLinks";

interface Props {
    class?: string;
    color: string;
}

const {class: className, color} = Astro.props as Props;
---

<div class:list={["flex flex-row justify-between items-center border-b p-6", `border-b-${color}`, className]}>
    <a href="/" class:list={["font-['Michroma'] font-extrabold text-2xl ml-12 select-none my-0", `text-${color}`]}>LP247</a>
    <div class="flex flex-row justify-end items-center">
        {
            mainLinks.map((link) => (
                <a
                    href={link.link}
                    class:list={["px-10 font-bold font-sans text-base text-md whitespace-nowrap last:mr-28", `text-${color}`]}
                >
                    {" "}
                    {link.text}{" "}
                </a>
            ))
        }
    </div>
</div>
