---
import {getCollection, CollectionEntry} from 'astro:content';
import FrameWithHeading from "@layouts/FrameWithHeading.astro";
import ExternalLink from "@components/ExternalLink.astro";

export async function getStaticPaths() {
    const entries = await getCollection("tech");
    return entries.map(entry => ({
        params: { slug: entry.id }, props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<"tech">;
}

const {entry} = Astro.props as Props;
const {name, description, website, github, wikipedia} = entry.data;
---
<FrameWithHeading heading={name}>
    <p>{description}</p>
    <hr />
    <div class="flex flex-row gap-6">
        {website && <ExternalLink href={website}>Project Website</ExternalLink>}
        {github && <ExternalLink href={github}>Code on GitHub</ExternalLink>}
        {wikipedia && <ExternalLink href={wikipedia}>Wikipedia Article</ExternalLink>}
    </div>
</FrameWithHeading>
